@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* 
LINK Paleta cor usado no projeto.
https://colorhunt.co/palette/2763
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
}

*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	background-color: #222831;
}
